{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {# TODO LTS: fichier d exemple a telecharger #}
    <form method="post" enctype="multipart/form-data">
        {{ 'objet_musee_import.title'|trans }}
        <input type="file" name="import_objet_musee" id="fileToUpload">
        <input type="submit" value="{{ 'objet_musee_import.upload'|trans }}" name="submit">
    </form>
{% endblock %}

