{% trans_default_domain 'front' %}
<div class="blogNavigation">
    {% if prev is not empty %}
        <div class="blogNavigation_prev">
            {# TODO #}
        </div>
    {% endif %}
    {% if next is not empty %}
        <div class="blogNavigation_next">
            {# TODO #}
        </div>
    {% endif %}
</div>