/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/nbproject
/nbproject/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
puphpet/config-custom.yaml
.vagrant
/web/js
/web/css
/web/img
/web/favicons
/node_modules
/web/upload/media/*
!web/upload/media/.gitkeep
/nbproject/private/
/app/Resources/assets/rev-manifest.json
/composer.phar
/web/uploads/medias/
/web/imports/*
.idea
/apprss.xml
apptest.xml
/client_secret.json
/calendar-php-quickstart.json
