{% extends ':emails:email_tpl.html.twig' %}

{% block main %}
    <h1>{{ title }}</h1>
    {% if subtitle %}
        <p class="lead">{{ subtitle }}</p>
    {% endif %}
    <p>
        {{ 'activation.mail.message'|trans({'%password%': data.password})|raw }}
    </p>
{% endblock %}