{% extends ':emails:email_tpl.html.twig' %}

{% block main %}
    <h1>{{ title }}</h1>
    {% if subtitle %}
        <p class="lead">{{ subtitle }}</p>
    {% endif %}
    <p>
        {{ 'contact.mail.texte'|trans({
        '%nom%':data.nom,
        '%prenom%':data.prenom,
        '%objet%':data.objet,
        '%message%':data.message,
        '%email%':data.email,
        })|raw }}
    </p>
{% endblock %}