
/*---
title:      Couleurs
section:    Styles de base
---

### Couleurs du thème Marché Privé :

```example:color
@color: #ffffff @name: $color-white
@color: #efebeb @name: $color-grey-lighter
@color: #e0d8d7 @name: $color-grey-light
@color: #b2a9a8 @name: $color-grey-medium
@color: #6d6766 @name: $color-grey-dark
@color: #33302f @name: $color-grey-darker
@color: #000000 @name: $color-black
@color: #ef7d00 @name: $color-rj
@color: #8ab833 @name: $color-shop
```

### Couleurs des alertes :

```example:color
@color: #ffd0ca @name: $color-error
@color: #b2422b @name: $color-error-dark
@color: #fff9de @name: $color-warning
@color: #e2b700 @name: $color-warning-dark
@color: #eeffe1 @name: $color-success
@color: #8ab833 @name: $color-success-dark
@color: #ebf6ff @name: $color-info
@color: #3993ff @name: $color-info-dark
```

*/

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$color-white: #fff;
$color-grey-lighter: #f5f5f5;
$color-grey-light: #eee;
$color-grey-medium: #e0e0e0;
$color-grey-dark: #999;
$color-grey-darker: #333;
$color-grey-darkest: #1c1c1c;
$color-black: #000;
$color-text: $color-black;
$color-rj: #e30613;
$color-rj-dark: #c80b0f;
$color-rj-darker: #b90004;

$color-error: #ffd0ca;
$color-error-dark: #b2422b;
$color-warning: #fff9de;
$color-warning-dark: #e2b700;
$color-success: #eeffe1;
$color-success-dark: #8ab833;
$color-info: #ebf6ff;
$color-info-dark: #3993ff;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $color-white,
        "gray":       $color-grey-dark,
        "gray-dark":  $color-grey-darker
), $colors);

$enable-rounded:            true !default;
$theme-color-interval:      8% !default;

$text-fontfamily : Arial, "Lucida Grande", sans-serif;
$text-lineheight: 1.25;

$margin-s: rem(10);
$margin-m: rem(20);
$margin-l: rem(30);
$margin-xl: rem(40);

$site-width: 1280px;

// breakpoints (overrides include-media.scss)
$breakpoints: (
  phone       : 320px,
  phablet     : 640px,
  tablet      : 768px,
  laptop      : 960px,
  desktop     : 1366px
);

$btnHeight-s: rem(34);
$btnHeight-m: rem(40);
$btnHeight-l: rem(64);
$btn-radius: rem(12);
$fldHeight-m: $btnHeight-m;

$trans-prop: transform opacity;
$trans-duration: .3s;
$trans-function: ease;
$trans-delay: 0s;

$primary:       $color-rj !default;
$secondary:     $color-grey-dark !default;
$success:       $color-success-dark !default;
$info:          $color-info-dark !default;
$warning:       $color-warning-dark !default;
$danger:        $color-error-dark !default;
$light:         $color-grey-lighter !default;
$dark:          $color-grey-darker !default;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);

// List group
$component-active-color:            $color-white !default;
$component-active-bg:               theme-color("primary") !default;
$border-radius:                     .25rem !default;

$list-group-bg:                     $color-white !default;
$list-group-border-color:           rgba($color-black, .125) !default;
$list-group-border-width:           1px !default;
$list-group-border-radius:          $border-radius !default;

$list-group-item-padding-y:         .75rem !default;
$list-group-item-padding-x:         1.25rem !default;

$list-group-hover-bg:               $color-grey-lighter !default;
$list-group-active-color:           $component-active-color !default;
$list-group-active-bg:              $component-active-bg !default;
$list-group-active-border-color:    $list-group-active-bg !default;

$list-group-disabled-color:         $color-grey-dark !default;
$list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           $color-grey-lighter !default;
$list-group-action-hover-color:     $list-group-action-color !default;

$list-group-action-active-color:    $color-rj !default;
$list-group-action-active-bg:       $color-grey-lighter !default;

// Badges

$badge-font-size:                   75% !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-padding-y:                   .25em !default;
$badge-padding-x:                   .4em !default;
$badge-border-radius:               $border-radius !default;

$badge-pill-padding-x:              .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:          10rem !default;

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $color-grey-darker !default;
$yiq-text-light: $color-white !default;

