{% extends "template/base_front.html.twig" %}
{% block body_class %}news{% endblock %}
{% block html_title %} - Actualités{% endblock %}
{% block main %}
    {% include 'bandeau_jap.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">Actualités</h2>
        <div class="postsList newsList">
            <div class="postItem shortPost newsItem">
                <div class="postItemCtn newsItemCtn">
                    <img class="postPhoto newsPhoto" src="{{ asset('medias/img/ev-repas-nouvel-an.jpg') }}" alt="">
                    <h4 class="postTitle newsTitle">Repas du nouvel an</h4>
                    <p class="postSummary newsSummary">Comme chaque année, l'association organise son repas de Nouvel An, le <b>24 janvier à 12h à la maison St Sever</b>.</p>
                </div>
            </div>
            <div class="postItem shortPost newsItem">
                <div class="postItemCtn newsItemCtn">
                    <img class="postPhoto newsPhoto" src="{{ asset('medias/img/ev-repas-nouvel-an.jpg') }}" alt="">
                    <h4 class="postTitle newsTitle">Repas du nouvel an</h4>
                    <p class="postSummary newsSummary">Comme chaque année, l'association organise son repas de Nouvel An, le <b>24 janvier à 12h à la maison St Sever</b>.</p>
                </div>
            </div>
            <div class="postItem shortPost newsItem">
                <div class="postItemCtn newsItemCtn">
                    <img class="postPhoto newsPhoto" src="{{ asset('medias/img/ev-repas-nouvel-an.jpg') }}" alt="">
                    <h4 class="postTitle newsTitle">Repas du nouvel an</h4>
                    <p class="postSummary newsSummary">Comme chaque année, l'association organise son repas de Nouvel An, le <b>24 janvier à 12h à la maison St Sever</b>.</p>
                    <div class="postMoreText" style="display: none;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.<br>
                        Dolor sit amet, consectetur adipisicing elit, sed do eiusmod !</p>
                        <p><b class="u-textColorRJ">Conditions :</b> 15 euros par personne. Réservé aux membres.<br>
                        <b class="u-textColorRJ">Clôture des réservations :</b> 14 avril 2016</p>
                        <p><b>&gt; <a class="u-textBlack" href="#">Je veux participer !</a></b></p>
                    </div>
                    <button class="seeMore" aria-hidden="true">En savoir plus</button>
                </div>
            </div>
            <div class="postItem shortPost newsItem">
                <div class="postItemCtn newsItemCtn">
                    <img class="postPhoto newsPhoto" src="{{ asset('medias/img/ev-repas-nouvel-an.jpg') }}" alt="">
                    <h4 class="postTitle newsTitle">Repas du nouvel an</h4>
                    <p class="postSummary newsSummary">Comme chaque année, l'association organise son repas de Nouvel An, le <b>24 janvier à 12h à la maison St Sever</b>.</p>
                </div>
            </div>
            <div class="seeAllPosts"><a class="btn btn-blank-secondary" href="#">Charger plus</a></div>
        </div>
    </section>

    {#% include 'top_blog.html.twig' %#}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}