{% extends "template/base_front.html.twig" %}
{% block body_class %}news{% endblock %}
{% block html_title %} - Actualités{% endblock %}
{% block main %}
    
    {% set hastagTitle = "Actualités" %}
    {% set hastagList = "#Normandie #Japon" %}
    {% include 'bandeau_hastag.html.twig' %}
    

    <section class="about section u-fitted">
        {% if actualites is empty %}
        <div class="noWorkshop u-textCenter">
            <b class="nothing">Aucune actualités n'est encore écrite pour le moment...</b>
            <p>Ça ne devrait pourtant pas tarder !</p>
            {% include 'newsletter_form_light.html.twig' %}
        </div>
        {% else %}
        <h2 class="sectionTitle">Actualités</h2>
        <div class="postsList newsList">
            {% for actualite in actualites %}       
                <div class="postItem shortPost newsItem">
                    <div class="postItemCtn newsItemCtn">
                        {% media actualite.image, 'big' with {'class': 'postPhoto newsPhoto'} %}                    
                        <h4 class="postTitle newsTitle">{{ actualite.nom }}</h4>                    
                        <p class="postSummary newsSummary"> {{ crop_entete_texte(actualite.contenu)|raw }}</p>
                        <div class="postMoreText" style="display: none;">
                            {{ get_corps_texte(actualite.contenu)|raw }}
                        </div>
                        {% if actualite.contenu|length > 1 %}
                        <button class="seeMore" aria-hidden="true">En savoir plus</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %} 
            <div class="seeAllPosts"><a class="btn btn-blank-secondary" href="{{ path('actualites', {'plus':'voir-tout'}) }}">Charger plus</a></div>
        </div>
        {% endif %}
    </section>

    {#% include 'top_blog.html.twig' %#}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}