{% extends "template/base_front.html.twig" %}
{% block body_class %}asso{% endblock %}
{% block html_title %} - Qui sommes nous ?{% endblock %}
{% block main %}
    
    {% set hastagTitle = "L'Association Rouen Japon" %}
    {% set hastagList = "" %}
    {% include 'bandeau_hastag.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">À propos de nous</h2>
        <div class="aboutText">
            <p>Créée en septembre 2009, l’association est composée de Français et de Japonais et a pour vocation de favoriser les échanges entre les Rouennais et les Japonais, de partager nos cultures, d'apprendre le japonais, et bien plus encore !</p>
        </div>
    </section>

    <section class="members section u-fitted">
        <h2 class="sectionTitle">Les membres du bureau</h2>
        <div class="membersList">
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
        </div>
    </section>

    <a id="partenaires"></a>
    <section class="partners section u-fitted">
        <h2 class="sectionTitle">Les partenaires de l'association</h2>
        <ul class="partnersList u-ul-mute">
            <li class="partnerItem">
                <strong class="partnerName"><a href="http://atelierstromain.com/" target="_blank">Atelier St Romain</a></strong>
                <span class="partnerDescr">Estampes et gravures japonaises</span>
            </li>
            <li class="partnerItem">
                <strong class="partnerName"><a href="http://www.esprit-zen.net/Pages/default.aspx" target="_blank">Esprit Zen</a></strong>
                <span class="partnerDescr">Jardins Japonais</span>
            </li>
            <li class="partnerItem">
                <strong class="partnerName"><a href="http://matsukaze.fr/" target="_blank">Matsukaze Shiatsu</a></strong>
                <span class="partnerDescr">Enseignement de techniques thérapeutiques japonaises</span>
            </li>
            <li class="partnerItem">
                <strong class="partnerName"><a href="https://www.facebook.com/pages/P%C3%A2tisserie-Kenta-et-Akira/256722547792068?ref=stream&hc_location=stream" target="_blank">Kenta & Akira</a></strong>
                <span class="partnerDescr">Pâtisserie</span>
            </li>
            <li class="partnerItem">
                <strong class="partnerName"><a href="http://www.zanshin-mugen-kan.com/" target="_blank">Zanshin Mugen Kan</a></strong>
                <span class="partnerDescr">École d'Arts Martiaux</span>
            </li>
        </ul>
    </section>

    <section class="u-fitted">
        <div class="join section">
            <h2 class="sectionTitle">Adhérer à l'association</h2>
            <div class="joinChapo">Adhérer à l'association vous permet de vous inscrire aux cours de japonais et aux ateliers que nous organisons tout au long de l'année. Le montant de l'adhésion est de 20€ pour une année.</div>
            <a class="btn" href="#">Devenir membre</a>
            <div class="joinText sectionText">
                <strong class="conditions">Conditions</strong>
                <p>Votre adhésion sera effective à la réception de la cotisation que vous pouvez régler en liquide ou par chèque à l'ordre de "Rouen Japon".<br>
                Le montant de la cotisation peut être remis en mains propres lors d'un atelier, au professeur lors d'un cours de japonais ou à notre réunion de rentrée qui aura lieu le 12 septembre à 16h à la maison des associations de Saint-Sever. Vous pouvez également envoyer votre chèque à Association franco japonaise de Rouen, 4 quai de Paris, 76000 Rouen.</p>
                <p>Si vous avez d'autres questions, vous pouvez nous les poser via notre <a href="#">formulaire de contact.</a></p>
            </div>
        </div>
    </section>

    {% include 'follow_us.html.twig' %}
    
{% endblock %}