{% extends "template/base_front.html.twig" %}
{% block body_class %}asso{% endblock %}
{% block html_title %} - Qui sommes nous ?{% endblock %}
{% block main %}
    
    {% set hastagTitle = "L'Association Rouen Japon" %}
    {% set hastagList = "" %}
    {% include 'bandeau_hastag.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">À propos de nous</h2>
        <div class="aboutText">
            <p>
                Rouen Japon a été créé en 2009 par Akari FUJINO. A l’heure actuelle, l’association compte 115 membres.<br>
                Rouen Japon a pour objectif :
            </p>
            <ul class="u-ul-colorRJ">
                <li>Être un lieu d'échange entre les Français et les Japonais</li>
                <li>Mettre en relation des Français et des Japonais pour leur permettre de communiquer, d'échanger sur leurs pays respectifs</li>
                <li>Proposer des cours de japonais et de français</li>
                <li>Organiser des animations autour des cultures japonaises et françaises</li>
            </ul><br>

            <p><b>Quelques dates :</b></p>
            <ul class="u-ul-colorRJ">
                <li><b>2010 :</b> Mise en place des cours de japonais</li>
                <li><b>2011 :</b> Concert de solidarité aux victimes du tsunami</li>
                <li><b>2013 :</b> Premier festival Hanami</li>
                <li><b>Saison 2013-14 :</b> Akari FUJINO cède la présidence de l’association à Pierre JOSELIER</li>
                <li><b>2014 :</b> Deuxième festival Hanami</li>
                <li><b>Saison 2014-15 :</b> Mise en place des cours de cérémonie du thé et de calligraphie</li>
                <li><b>2015 :</b> Lancement du Café Japon (café d’échange linguistique)</li>
                <li><b>Saison 2016-17 :</b> Mise en place des cours de japonais pour enfants</li>
            </ul>
        </div>
    </section>

    <!--<section class="members section u-fitted">
        <h2 class="sectionTitle">Les membres du bureau</h2>
        <div class="membersList">
            <div class="memberItem">
                <img class="memberPhoto" src="http://lorempixel.com/140/140/cats/3/" alt="" width="140" height="140">
                <strong class="memberName">Pierre Joselier</strong>
                <span class="memberJob">Président</span>
            </div>
        </div>
    </section>-->

    <a id="partenaires"></a>
    <section class="partners section u-fitted">
        <h2 class="sectionTitle">Les partenaires de l'association</h2>
        <ul class="partnersList u-ul-mute">
            <li class="partnerItem">
                <strong class="partnerName"><a href="http://atelierstromain.com/" target="_blank">Atelier St Romain</a></strong>
                <span class="partnerDescr">Estampes et gravures japonaises</span>
            </li>
            <li class="partnerItem">
                <strong class="partnerName"><a href="http://www.esprit-zen.net/Pages/default.aspx" target="_blank">Esprit Zen</a></strong>
                <span class="partnerDescr">Jardins Japonais</span>
            </li>
            <li class="partnerItem">
                <strong class="partnerName"><a href="http://matsukaze.fr/" target="_blank">Matsukaze Shiatsu</a></strong>
                <span class="partnerDescr">Enseignement de techniques thérapeutiques japonaises</span>
            </li>
            <li class="partnerItem">
                <strong class="partnerName"><a href="https://www.facebook.com/pages/P%C3%A2tisserie-Kenta-et-Akira/256722547792068?ref=stream&hc_location=stream" target="_blank">Kenta & Akira</a></strong>
                <span class="partnerDescr">Pâtisserie</span>
            </li>
            <li class="partnerItem">
                <strong class="partnerName"><a href="http://www.zanshin-mugen-kan.com/" target="_blank">Zanshin Mugen Kan</a></strong>
                <span class="partnerDescr">École d'Arts Martiaux</span>
            </li>
        </ul>
    </section>

    <section class="u-fitted">
        <div class="join section">
            <h2 class="sectionTitle">Adhérer à l'association</h2>
            <div class="joinChapo">Adhérer à l'association vous permet de vous inscrire aux cours de japonais et aux ateliers que nous organisons tout au long de l'année. Le montant de l'adhésion est de 20€ pour une année.</div>
            <!--a class="btn" href="#">Devenir membre</a-->
            <div class="joinText sectionText">
                <strong class="conditions">Conditions</strong>
                <p>Votre adhésion sera effective à la réception de la cotisation que vous pouvez régler en liquide ou par chèque à l'ordre de "Rouen Japon".<br>
                Le montant de la cotisation peut être remis en mains propres lors d'un atelier, au professeur lors d'un cours de japonais ou à notre réunion de rentrée qui aura lieu le 17 septembre à 14h à la maison des associations de Saint-Sever.</p>
                <!--p>Si vous avez d'autres questions, vous pouvez nous les poser via notre <a href="#">formulaire de contact.</a></p-->
            </div>
        </div>
    </section>

    {% include 'follow_us.html.twig' %}
    
{% endblock %}