<div class="hero">
    <h1 class="heroTitle">{{ hastagTitle }} <span class="u-textColorRJ">{{ hastagList}}</span></h1>
    <div class="userGuide">
        <a class="btn btn-blank" href="{{path('presentation_japonaise')}}" lang="ja">日本人です</a>
        {% if lien_adhesion() is not empty %}
        <a class="btn" href="{{ lien_adhesion() }}" target="_blank">Devenir membre</a>
        {% endif %}
    </div>
</div>