<div class="hero">
    <h2 class="heroTitle">Favoriser les échanges entre les Français et la communauté japonaise de Rouen.</h2>
    <div class="heroJPbaseline" lang="ja">日仏文化交流会は、ルーアンにおける日本文化との交流を目的とし活動しています。</div>
    <div class="userGuide">
        <a class="btn btn-blank" href="{{path('presentation_japonaise')}}" lang="ja">日本人です</a>
        <!--a class="btn">Devenir membre</a-->
    </div>
</div>