<div class="sectionCTA">
    <div class="u-fitted">
        <p>Sortir une fois, c'est bien.<br>
            Multiplier des moments conviviaux entre passionnés en étant membre de Rouen Japon, c'est mieux ! ;-)</p>
        <a class="btn" href="#">Devenir membre</a>
    </div>
</div>