{% extends "template/base_front.html.twig" %}
{% block body_class %}lessons{% endblock %}
{% block html_title %} - Les cours{% endblock %}
{% block main %}
    {% include 'bandeau_jap.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">Les cours</h2>
        <div class="sectionChapo u-textCenter aboutText">
            <p>Grâce aux cours de Rouen Japon, vous pourrez apprendre le japonais, pratiquer la calligraphie, vous initier à l'art de la cérémonie du thé, et bien d'autres choses...<br>
                Au début de chaque saison, en fonction du nombre d'adhérents, et d'adhérents intéressés par telle ou telle activité, le planning et le nombre de cours évolue.<br>
                Ci-dessous les différents cours pour la saison 2016-2017.</p>
        </div>
    </section>

    <a id="langue"></a>
    <section class="japanese section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/cours-japonais.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h3 class="sectionSubTitle">Apprendre le japonais</h3>
                <div class="sectionChapo">
                    <p>Rouen Japon vous propose depuis plusieurs années d'apprendre le japonais. Selon votre niveau et votre emploi du temps, un ou plusieurs créneaux sont possibles en semaine. Les cours sont dispensés par Akari Fujino à la <strong>maison des associations Saint Sever</strong>.</p>
                </div>

                <div class="japaneseText sectionText">
                    <p>Les cours se répartissent comme suit* :</p>
                    <ul class="u-ul-colorRJ">
                        <li><b>Débutants :</b> soit le mercredi à 20H, soit le samedi à 9h</li>
                        <li><b>2ème année :</b> soit le mardi à 20h, soit le samedi à 10h30</li>
                        <li><b>3ème année :</b> le samedi à 10h30</li>
                        <li><b>4ème année et supérieures :</b> le jeudi à 20h</li>
                    </ul>
                    <p class="u-note">*la détermination définitive du niveau des élèves revient au professeur</p>

                    <strong class="conditions">Conditions</strong>
                    <p>Pour suivre les cours de japonais, il vous faut <b><a href="#">adhérer à l'association</a></b> et vous acquitter du montant de la cotisation de 20€.</p>
                    <p>Le montant des cours pour la saison est fixé à 432€ pour l'année avec proposition de facilités de paiement (encaissement de trois chèques de 144€ en octobre, janvier et avril ou de 9 chèques de 48€ tous les mois).</p>
                    <p>Si vous avez d'autres questions, vous pouvez nous les poser via notre <a href="#">formulaire de contact.</a></p>
                </div>
            </div>
        </div>                
    </section>

    <a id="calligraphie"></a>
    <section class="calligraphy section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/cours-calligraphie.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h3 class="sectionSubTitle">Pratiquer la calligraphie</h3>
                <div class="calligraphyChapo sectionChapo">
                    <p>L'association Rouen Japon vous propose désormais des cours de calligraphie. Ils se dérouleront le <strong>lundi de 20h00 à 21h30 à la maison des associations de Saint Sever</strong> et seront animés par Mme Motoko Sekido.</p>
                </div>

                <p class="u-warning">// Les cours sont complets ///</p>

                <div class="japaneseText sectionText">
                    <strong class="conditions">Conditions</strong>
                    <p>Le montant des cours est fixé à 270€ pour l'année avec proposition de facilités de paiement (encaissement de trois chèques de 90€ en octobre, janvier et avril ou de 9 chèques de 30€ tous les mois).</p>
                    <p>Pour suivre les cours de calligraphie, il faut également <b><a href="#">adhérer à l'association</a></b> et vous acquitter du montant de la cotisation de 20€.</p>
                    <p>Pour vous inscrire, il vous suffit de remplir le <a href="#">formulaire d'adhésion en ligne</a>.</p>
                </div>
            </div>
        </div>                
    </section>

    <a id="the"></a>
    <section class="teaCeremony section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/cours-ceremonie-du-the.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h3 class="sectionSubTitle">S'initier à la cérémonie du thé</h3>
                <div class="sectionChapo">
                    <p>Les cours de cérémonie du thé se déroulent un <strong>dimanche par mois de 14h30 à 15h30 à la maison des associations de Saint Sever</strong> et sont animés par Mme Kazuyo Coineau, maitresse de cérémonie du thé.</p>
                </div>

                <p class="u-warning">// Plus que quelques places disponibles ! ///</p>

                <div class="japaneseText sectionText">
                    <p>Calendrier prévisionnel* :</p>
                    <ul class="u-ul-colorRJ">
                        <li><b>Dimanche 08 novembre</b></li>
                        <li><b>Dimanche 29 novembre</b></li>
                        <li><b>Dimanche 17 janvier</b></li>
                        <li><b>Dimanche 07 février</b></li>
                        <li><b>Dimanche 06 mars</b></li>
                        <li><b>Dimanche 03 avril</b></li>
                        <li><b>Dimanche 22 mai</b></li>
                        <li><b>Dimanche 05 juin</b></li>
                    </ul>
                    <p class="u-note">*en cas de modification, vous serez avertis par mail</p>

                    <strong class="conditions">Conditions</strong>
                    <p>Le montant des cours est fixé à 135€ pour l'année avec proposition de facilités de paiement (encaissement de trois chèques de 45€ en octobre, janvier et avril ou de 9 chèques de 15€ tous les mois).</p>
                    <p>Pour suivre les cours de cérémonie du thé, il faut également <b><a href="#">adhérer à l'association</a></b> et vous acquitter du montant de la cotisation de 20€.</p>
                </div>
            </div>
        </div>                
    </section>
    {#% include 'bandeau_devenir_membre.html.twig' %#}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}