<section class="followUs u-fitted">
    <h3 class="followTitle">Suivez-nous...</h3>
    <div class="grid-3">
        <div class="followItem facebook">
            <b class="facebookTitle">...sur Facebook</b>
                <!-- Config : https://developers.facebook.com/docs/plugins/page-plugin/ -->
            <div class="facebookCtn">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <!-- Timeline -->
                <div class="fb-page" data-href="https://www.facebook.com/AssoJaponRouen" data-tabs="timeline" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/AssoJaponRouen" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AssoJaponRouen">Facebook de l'Association franco-japonaise de Rouen</a></blockquote></div>
            </div>
            <!-- Like button -->
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
            <!-- Share button -->
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"></div>
        </div>
        <div class="followItem twitter">
            <b class="twitterTitle">...sur Twitter</b>
                <!-- Config : https://publish.twitter.com/ -->
            <div class="twitterCtn">
                <p><a class="twitter-timeline" data-lang="fr" data-height="500" data-dnt="true" href="https://twitter.com/RouenJapon">Tweets de RouenJapon</a></p> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <a href="https://twitter.com/rouenjapon" class="twitter-follow-button" data-show-count="false">Suivre @rouenjapon</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!--div class="followItem newsletter">
            <form class="newsletterForm">
                <legend class="newsletterTitle">Et abonnez-vous à notre newsletter <small class="nospam">#nospam</small></legend>
                <div class="formItem">
                    <label class="fldLabel u-hiddenVisually" for="fld-email-newsletter">Adresse e-mail:</label>
                    <input class="fld" type="email" placeholder="Mon adresse email">
                </div>
                <input class="btn" type="submit" value="Je m'abonne !">
            </form>
        </div-->
    </div>
</section>