{% extends "template/base_front.html.twig" %}
{% block html_title %}| Association franco-japonaise pour apprendre le japonais et faire des échanges{% endblock %}
{% block body_class %}home{% endblock %}
{% block main %}
    {% include 'bandeau_jap.html.twig' %}

    <section class="activities">
        <div class="u-fitted">
            <div class="activitiesList grid-3">
                <div class="activityItem lessons">
                    <h3 class="activityTitle">Cours</h3>
                    <p class="activityText">Apprendre le japonais, pratiquer la calligraphie, s'initier à l'art de la cérémonie du thé...</p>
                    <a class="btn btn-blank" href="{{path('cours')}}">En savoir plus</a>
                </div>
                <div class="activityItem workshops">
                    <h3 class="activityTitle">Ateliers</h3>
                    <p class="activityText">Initiations Ikebana (art floral), ateliers cuisine (gyozas, okonomiyaki, ..), sessions origamis...</p>
                    <a class="btn btn-blank" href="{{path('ateliers')}}">En savoir plus</a>
                </div>
                <div class="activityItem outings">
                    <h3 class="activityTitle">Sorties</h3>
                    <p class="activityText">Assister à des conférences, aller au cinéma, voir des expos au musées, mettre en pratique les cours de japonais autour d'un verre...</p>
                    <a class="btn btn-blank" href="{{path('sorties')}}">En savoir plus</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'top_evenements.html.twig' %}

    {% include 'top_actualites.html.twig' %}

    {% if is_actif_blog() %}
        {% include 'top_blog.html.twig' %}
    {% endif %}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}