<section class="events">
    {% set coming = 0 %}
    {% set past = 0 %}
    {% for evenement in evenements %}
        {% if evenement is not empty %}
            {% if evenement.dateFin|date('Y-m-d') > 'now'|date('Y-m-d') %}
                {% if coming == 0 %} 
                    <div class="comingEvent">
                        <h3 class="comingTitle">Prochainement</h3>
                    {% set coming = 1 %}
                {% endif %}
            {% else %}
                {% if past == 0 %}
                    <div class="pastEvents">
                        <h3 class="pastTitle">Dernièrement</h3>
                    {% set past = 1 %}
                {% endif %}
            {% endif %}  
            {% include 'top_evenements_details.html.twig' %}
            {% if coming == 1 and past==0 %}
            </div>
            {% endif %}    
        {% endif %}
    {% endfor %}
    {% if past == 1 %}
        </div>
    {% endif %} 
        <div class="postItem shortPost eventItem eventsCalendar">
            <div class="postItemCtn eventItemCtn">
                <div class="calendarTitle">Calendrier</div>
                <div id='calendar'></div>
                <a class="btn btn-blank-secondary" href="{{path('evenements')}}">Voir tous les événements</a>
            </div>
        </div>
    </div>
</section>