<section class="blog">
    <div class="u-fitted">
        <div class="postItem shortPost blogItem">
            <div class="postItemCtn blogItemCtn">
                <img class="postPhoto blogPhoto" src="{{ asset('medias/img/ev-repas-nouvel-an.jpg') }}" alt="">
                <h4 class="postTitle blogTitle">À la rencontre de Mamoru Hosoda</h4>
                <p class="postSummary blogSummary">Vous ne connaissez pas encore Mamoru Hosoda ? Et bien il va falloir rattraper votre retard ! Rouen Japon vous a concocté une petite présentation du monsieur et de son œuvre.</p>
                <a class="postHover postLink" href="#" title="Voir l'article : À la rencontre de Mamoru Hosoda"><span class="btn btn-blank" aria-hidden="true">Voir l'article</span></a>
            </div>
        </div>
        <div class="seeAllPosts"><a class="btn btn-blank-secondary" href="#">Voir tous les articles du blog</a></div>
    </div>
</section>