<a href="{{ admin.generateObjectUrl('clone', object) }}" class="btn btn-sm btn-default" title="{{ 'button.clone'|trans({}) }}">
    <i class="fa fa-clone" aria-hidden="true"></i>
    {{ 'button.clone'|trans({}) }}
</a>

