<li>
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('generateGoogleCalendar', object) }}">
        <i class="fa fa-google"></i> {{ 'button.generateGoogleCalendar'|trans }}
    </a>
</li>

