<a href="{{ path('blog_detail', {'slug':object.slug}) }}" target="_blank" class="btn btn-sm btn-default" title="{{ 'button.view'|trans({}) }}">
    <i class="fa fa-eye" aria-hidden="true"></i>
    {{ 'button.view'|trans({}) }}
</a>


