{% trans_default_domain 'front' %}
<section class="about section u-fitted">
    <h2 class="sectionTitle">{{ 'mentions_legales.conceptor.title'|trans }}</h2>
    <div class="aboutText">
        <p>
            Lucie Guilbert<br />
            <a href="https://www.linkedin.com/in/lucie-guilbert/">Profil LinkedIn</a>
        </p>
    </div>
</section>