<section class="about section u-fitted">
    <h2 class="sectionTitle">CONCEPTION ET RÉALISATION</h2>
    <div class="aboutText">
        <p>
            Lucie Guilbert<br />
            <a href="https://www.linkedin.com/in/lucie-guilbert/">Profil LinkedIn</a>
        </p>
    </div>
</section>