{% trans_default_domain 'front' %}
<section class="about section u-fitted">
    <h2 class="sectionTitle">{{ 'mentions_legales.gdpr.title'|trans }}</h2>
    <div class="description">
        <p>
            {{ 'mentions_legales.gdpr.texte'|trans({'%titre_asso%': 'mentions_legales.titre_asso'|trans, '%contact_link%': path('contact')})|raw }}
        </p>
    </div>
</section>