{% trans_default_domain 'front' %}
<section class="about section u-fitted">
    <h2 class="sectionTitle">{{ 'mentions_legales.graphismes.title'|trans }}</h2>
    <div class="aboutText">
        <p>
            Cécile Jeanne<br />
            <a href="mailto:contact@cecile-jeanne.be">contact@cecile-jeanne.be</a><br />
            <a href="www.cecile-jeanne.be">www.cecile-jeanne.be</a>
        </p>
        <p>
            Julien Nicolas<br />
            <a href="mailto:contact@lejules.fr">contact@lejules.fr</a><br />
            <a href="lejules.fr">lejules.fr</a>
        </p>
    </div>
</section>