{% trans_default_domain 'front' %}
<section class="about section u-fitted">
    <h2 class="sectionTitle">{{ 'mentions_legales.hebergement.title'|trans }}</h2>
    <div class="aboutText">
        <p>
            {{ 'mentions_legales.hebergement.texte'|trans|raw }}
        </p>
    </div>
</section>