<section class="about section u-fitted">
    <h2 class="sectionTitle">HÉBERGEMENT</h2>
    <div class="aboutText">
        <p>
            Le site et son extension sont hébergés sur la plateforme OVH.<br />
            2 rue Kellermann<br />
            59100 Roubaix – France.<br />
            Tel : 09 72 10 10 07
        </p>
    </div>
</section>