<section class="about section u-fitted">
    <h2 class="sectionTitle">IMMATRICULATION</h2>
    <div class="description">
        <p>
            Le présent site internet est la propriété de {{ site_web }}, <a href="https://www.rouen.fr/associations/rouen_japon" target="_blank">association déclarée de Rouen</a> sous le numéro 521 320 358 00026 dont le siège social est situé 4 Quai de Paris, 76000 Rouen – France. Tél. 07 60 60 03 17.
        </p>
    </div>
</section>