{% trans_default_domain 'front' %}
<section class="about section u-fitted">
    <h2 class="sectionTitle">{{ 'mentions_legales.immatriculation.title'|trans }}</h2>
    <div class="description">
        <p>
            {{ 'mentions_legales.immatriculation.texte'|trans({
                '%site_web%':  'mentions_legales.site_web'|trans,
                '%telephone%': telephone(),
                '%adresse_postal%': adresse_postal()|striptags
            })|raw }}
        </p>
    </div>
</section>