
/* 
    Author     : cecilejeanne <contact@cecile-jeanne.be>
*/

.siteBody {
    
}

.loginForm {
  max-width: rem(580);
  margin: 0 auto;
  padding: 50px 0px 50px 0px;

  .btn {
    display: block;
    width: 100%;
    text-align: left;
    max-width: rem(500);
  }

  .decalage {
    width: 100%;
    text-align: left;
    max-width: rem(495);
  }
  .center
  {
    margin: auto;
  }
}