{# custom_button.html.twig #}
<a class="sonata-action-element" href="{{ path('admin_app_importobjetmusee_upload_form') }}">
    <i class="fa fa-plus-circle"></i>{{ 'objet_musee.custom_list_action.button.import'|trans }}
</a>

