

/* 
    Author     : cecilejeanne <contact@cecile-jeanne.be>
*/

@import "vendor/slick.css";

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff url(../medias/img/ajax-loader.gif) center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    z-index: 1;
    display: block;
    height: rem(55);
    width: rem(55);
    @include media('>laptop') {
        height: rem(110);
        width: rem(110);
    }
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%) rotate(0);
    padding: 0;
    border: none;
    background: url(../medias/img/arrow-v.svg) no-repeat right 1.25rem center/110px auto no-repeat;
    outline: none;
    opacity: 1;
    &:hover, &:focus {
        outline: none;
        color: transparent;
        opacity: 1;
/*        &:before {
            opacity: 1;
        }*/
    }
    &.slick-disabled {
        opacity: .25;
    }
}

.slick-prev {
    left: rem(0);
    [dir="rtl"] & {
        left: auto;
        right: rem(0);
    }
    @include media('>laptop') {
        left: rem(35);
        [dir="rtl"] & {
            right: rem(35);
        }
    }
    transform: translate(0, -50%) rotate(-180deg);
}

.slick-next {
    right: rem(0);
    [dir="rtl"] & {
        left: rem(0);
        right: auto;
    }
    @include media('>laptop') {
        right: rem(35);
        [dir="rtl"] & {
            left: rem(35);
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        &:before {
            display: none;
        }
        position: relative;
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 12px;
            width: 12px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            border: 1px solid $color-black;
            border-radius: 10px;
            cursor: pointer;
            background: $color-white;
            &:hover, &:focus {
                outline: none;
                opacity: 1;
/*                &:before {
                    opacity: 1;
                }*/
            }
/*            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '\25cf';
                width: 20px;
                height: 20px;
                font-size: rem(6);
                line-height: rem(20);
                text-align: center;
                color: $color-black;
                opacity: .25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }*/
        }
        &.slick-active button {
            background: $color-black;
            opacity: .75;
        }
/*        &.slick-active button:before {
            color: $color-rj;
            opacity: .75;
        }*/
    }
}
