<div id="fb-root"></div>
{% if app.environment == 'prod' %}
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : {{ facebook_id is not empty ? '&appId='~facebook_id:'' }},
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.12'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/fr_FR/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}