{% if app.environment == 'prod' %}
<div class="fb-customerchat"
     page_id="526752204060109"
     theme_color="#e30613"
     logged_in_greeting="Bienvenue sur le site de l'association Rouen Japon. Besoin d'aide ?"
     logged_out_greeting="Bienvenue sur le site de l'association Rouen Japon. Connectez-vous à Facebook pour profiter de cette fonctionnalité."
     minimized = "true">
</div>
{% endif %}