{% extends "front/template/base_front.html.twig" %}
{% block body_class %}events allEvent{% endblock %}
{% block html_title %}– Les événements de l’association, venez nous rencontrer !{% endblock %}
{% block main %}
    {% set hastagTitle = "Evenements" %}
    {% set hastagList = "#Normandie #Japon" %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}
    
    {% set coming = 0 %}
    {% set past = 0 %}
    
    {% if evenementsOuKouryukai is empty %}
        <section class="comingEvents section">
            <div class="noWorkshop u-textCenter">
                <b class="nothing">Aucun événement n'est encore programmée pour le moment...</b>
                <p>Ça ne devrait pourtant pas tarder !</p>
                {% include 'front/newsletter/newsletter_form_light.html.twig' %}
            </div>
        </section>
    {% else %}        
        {% for evenementOuKouryukai in evenementsOuKouryukai %}
            {% set date_to_compare = evenementOuKouryukai.dateFin is defined ? evenementOuKouryukai.dateFin : evenementOuKouryukai.date %}
            {% if date_to_compare|date('Y-m-d') > 'now'|date('Y-m-d') %}
                {% if coming == 0 %} 
                    <section class="comingEvents section">
                    <h2 class="sectionTitle">Prochainement</h2>
                    <div class="postsList u-fitted">
                    {% set coming = 1 %}
                {% endif %}
            {% else %}
                {% if past == 0 %} 
                    {% if coming == 1 %} 
                    </section>
                    {% endif %}
                    <section class="pastEvents section">
                    <h2 class="sectionTitle">Dernièrement</h2>
                    <div class="postsList u-fitted">
                    {% set past = 1 %}
                {% endif %}
            {% endif %}
            {% include 'evenements_details.html.twig' %}
            {% if coming == 1 and past==0 %}
            </div>
            {% endif %} 
        {% endfor %}
    {% if past == 1 %}
        </div>
    {% endif %}
    {% endif %}
    {% if past == 1 or (past==0 and coming==1)%} 
        <div class="seeAllPosts"><a class="btn btn-blank-secondary" href="{{ path('evenements', {'plus':'voir-tout'}) }}">Charger plus</a></div>
    </section>
    {% endif %}
        
        

    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}