<a id="partenaires"></a>
<section class="partners section u-fitted">
    <h2 class="sectionTitle">Les partenaires de l'association</h2>
    <ul class="partnersList u-ul-mute">
        <li class="partnerItem">
            <strong class="partnerName"><a href="http://atelierstromain.com/" target="_blank">Atelier St Romain</a></strong>
            <span class="partnerDescr">Estampes et gravures japonaises</span>
        </li>
        <li class="partnerItem">
            <strong class="partnerName"><a href="http://www.esprit-zen.net/Pages/default.aspx" target="_blank">Esprit Zen</a></strong>
            <span class="partnerDescr">Jardins Japonais</span>
        </li>
        <li class="partnerItem">
            <strong class="partnerName"><a href="http://matsukaze.fr/" target="_blank">Matsukaze Shiatsu</a></strong>
            <span class="partnerDescr">Enseignement de techniques thérapeutiques japonaises</span>
        </li>
        <li class="partnerItem">
            <strong class="partnerName"><a href="https://www.facebook.com/pages/P%C3%A2tisserie-Kenta-et-Akira/256722547792068?ref=stream&hc_location=stream" target="_blank">Kenta & Akira</a></strong>
            <span class="partnerDescr">Pâtisserie</span>
        </li>
        <li class="partnerItem">
            <strong class="partnerName"><a href="http://www.zanshin-mugen-kan.com/" target="_blank">Zanshin Mugen Kan</a></strong>
            <span class="partnerDescr">École d'Arts Martiaux</span>
        </li>
    </ul>
</section>