{% trans_default_domain 'front' %}
<div class="sectionCTA">
    <div class="u-fitted">
        <p>{{ 'general.accroche_be_member'|trans|raw }}</p>
        {% if lien_adhesion() is not empty %}
        <a class="btn" href="{{ lien_adhesion() }}" target="_blank">{{ 'general.button.be_member'|trans }}</a>
        {% endif %}
    </div>
</div>