<div class="sectionCTA">
    <div class="u-fitted">
        <p>Sortir une fois, c'est bien.<br>
            Multiplier des moments conviviaux entre passionnés en étant membre de Rouen Japon, c'est mieux ! ;-)</p>
        {% if lien_adhesion() is not empty %}
        <a class="btn" href="{{ lien_adhesion() }}" target="_blank">Devenir membre</a>
        {% endif %}
    </div>
</div>