{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}asso{% endblock %}
{% set meta_title = 'Découvrir l’association franco-japonaise de Rouen' %}
{% block html_title %}– {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}
    {% set hastagTitle = "L'Association Rouen Japon" %}
    {% set hastagList = "" %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">À propos de nous</h2>
        <div class="aboutText">
            <p>
                Rouen Japon a été créé en 2009 par Akari FUJINO. A l’heure actuelle, l’association compte 115 membres.<br>
                Rouen Japon a pour objectif :
            </p>
            <ul class="u-ul-colorRJ">
                <li>Être un lieu d'échange entre les Français et les Japonais</li>
                <li>Mettre en relation des Français et des Japonais pour leur permettre de communiquer, d'échanger sur leurs pays respectifs</li>
                <li>Proposer des cours de japonais et de français</li>
                <li>Organiser des animations autour des cultures japonaises et françaises</li>
            </ul><br>

            <p><b>Quelques dates :</b></p>
            <ul class="u-ul-colorRJ">
                <li><b>2010 :</b> Mise en place des cours de japonais</li>
                <li><b>2011 :</b> Concert de solidarité aux victimes du tsunami</li>
                <li><b>2013 :</b> Premier festival Hanami</li>
                <li><b>Saison 2013-14 :</b> Akari FUJINO cède la présidence de l’association à Pierre JOSELIER</li>
                <li><b>2014 :</b> Deuxième festival Hanami</li>
                <li><b>Saison 2014-15 :</b> Mise en place des cours de cérémonie du thé et de calligraphie</li>
                <li><b>2015 :</b> Lancement du Café Japon (café d’échange linguistique)</li>
                <li><b>Saison 2016-17 :</b> Mise en place des cours de japonais pour enfants</li>
            </ul>
        </div>
    </section>

    {% include 'front/association/membres_bureau.html.twig' %}

    {% include 'front/association/partenaires.html.twig' %}

    <section class="u-fitted">
        <div class="join section">
            <h2 class="sectionTitle">Adhérer à l'association</h2>
            <div class="joinChapo">Adhérer à l'association vous permet de vous inscrire aux cours de japonais et aux ateliers que nous organisons tout au long de l'année. Le montant de l'adhésion est de 20€ pour une année.</div>
            {% if lien_adhesion() is not empty %}
            <a class="btn" href="{{ lien_adhesion() }}" target="_blank">Devenir membre</a>
            {% endif %}
            <div class="joinText sectionText">
                <strong class="conditions">{{ 'conditions.free_for_members'|trans }}</strong>
                <p>Votre adhésion sera effective à la réception de la cotisation que vous pouvez régler en liquide ou par chèque à l'ordre de "Rouen Japon".<br>
                Le montant de la cotisation peut être remis en mains propres lors d'un atelier, au professeur lors d'un cours de japonais ou à notre réunion de rentrée qui aura lieu le 17 septembre à 14h à la maison des associations de Saint-Sever.</p>
                <p>Si vous avez d'autres questions, vous pouvez nous les poser via notre <a href="{{ path('contact') }}">formulaire de contact.</a></p>
            </div>
        </div>
    </section>

    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}