{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}asso{% endblock %}
{% set meta_title = 'association.qui_sommes_nous.nihon.meta.title'|trans %}
{% block html_title %} - {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}
    
    {% set hastagTitle = 'association.qui_sommes_nous.nihon.title'|trans %}
    {% set hastagList = "" %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">{{ 'association.qui_sommes_nous.nihon.presentation.title'|trans }}</h2>
        <div class="aboutText">
            {{ 'association.qui_sommes_nous.nihon.presentation.texte'|trans({'%members_number%': nombre_membre()}) }}
            {{ 'association.qui_sommes_nous.nihon.presentation.date'|trans }}
        </div>
    </section>
   
    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}