
/* 
    Author     : cecilejeanne <contact@cecile-jeanne.be>
*/

.blogList,
.blogDetail {
	.hero {
		background: url(../medias/img/blog_bkg.jpg) right 23% center / cover no-repeat;
	}
}

.blogList {

	.blogItem {
		max-width: rem(600);
	}
	.blogItemCtn {
		margin-left: rem(10);
		margin-right: rem(10);
	}

	@include media('>phablet') {
		.blogItem {
			width: 50%;
		}
	}
}

.blogDetail {
	.blogPhotoCtn {
		max-width: rem(800);
		margin: 0 auto;
		text-align: center;
	}
	.blogPhoto {
		width: auto;
	}
	.blogTextCtn {
		max-width: rem(800);
		margin: rem(40) auto;
		font-size: rem(16);
		p {
			margin: rem(20) 0;
		}
	}
	.blogFooter {
		.tags {
			text-align: right;
			.tag {
				border: 1px solid $color-rj-dark;
				color: $color-rj-dark;
				border-radius: 4px;
				display: inline-block;
				padding: 4px 8px 4px 8px;
				text-align: center;
                text-decoration: none;
                &:hover {
                  border-color: $color-grey-darker;
                  color: $color-grey-darker;
                }
			}
		}
		.blogShare {
			text-align: right;
			margin-bottom: 5px;
		}
	}
	.blogComments {
		max-width: rem(800);
		margin: rem(40) auto;
	}
}