
/* 
    Author     : cecilejeanne <contact@cecile-jeanne.be>
*/

.home {

	.hero {
		height: rem(420);
	}
	@include media('>laptop') {
	    .hero {
	        height: 44vw;
	        max-height: rem(600);
	    }
	}

	/* Activités */
	.activities {
		padding: $margin-xl 0;
	}
	.activitiesList {
		justify-content: center;
	}
	.activityItem {
		width: auto;
		max-width: rem(210);
		text-align: center;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		&:before {
			content: '';
			display: block;
			width: rem(150);
			height: rem(150);
			margin: 0 auto;
			border-radius: rem(110);
			background-color: $color-rj;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50%;
		}
	}
	.lessons {
		&:before {
			background-image: url(../medias/img/icon-lessons.svg);
		}
	}
	.workshops {
		&:before {
			background-image: url(../medias/img/icon-workshops.svg);
		}
	}
	.outings {
		&:before {
			background-image: url(../medias/img/icon-outings.svg);
		}
	}
	.activityTitle {
		margin-top: rem(12);
	}

	@include media('<=480px') {
		.activitiesList {
			flex-direction: column;
			align-items: center;
		}
		.activityItem {
			margin-bottom: $margin-xl;
		}
	}

	@include media('>laptop') {
		.activities {
			padding: rem(80) 0;
		}
		.activityItem {
			max-width: rem(220);
			margin: 0 rem(50);
			&:before {
				width: rem(220);
				height: rem(220);
				background-size: auto;
			}
		}
	}

	/* Evénements */
	.comingEvent,
	.pastEvents {
		padding: rem(40) 0;
	}
	.comingEvent {
		justify-content: flex-end;
		padding: $margin-m $margin-m $margin-xl;
		background: url(../medias/img/lanterns_bkg.jpg) right center / cover no-repeat;
	}
	.comingTitle {
		width: 100%;
		text-align: center;
		color: $color-white;
	}
	.pastTitle {
		width: 100%;
		text-align: center;
		color: $color-rj;
	}
	.comingEvents {
		.postItemCtn {
			margin: 0 auto;
		}
	}
	.eventsCalendar {
		.postItemCtn {
			background: transparent;
		}
	}
	.calendarTitle {
		height: rem(40);
		line-height: rem(40);
		padding: 0 rem(20) 0 rem(50);
		border-radius: $btn-radius $btn-radius 0 0;
		@include niceText();
		font-size: rem(24);
		color: $color-white;
		background: url(../medias/img/icon-calendar.svg) rem(10) center / rem(30) no-repeat $color-rj;
	}
	#calendar {
		margin-bottom: rem(20);
		background-color: $color-white;
		table {
			margin: 0;
		}
		[class*="grid-"] {
			margin: 0;
			 > * {
			    display: initial;
			    width: 100%;
			    margin: 0;
			}
		}
		.fc-row {
			position: static;
		}
		.fc-center {
			display: block;
			> div {
				display: flex;
				align-items: center;
				float: none;
				height: rem(30);
			}
		}
		.fc-toolbar.fc-header-toolbar {
			margin: 0;
		}
		.fc-toolbar h2 {
			flex-grow: 2;
			font-family: $text-fontfamily;
			font-size: rem(14);
			font-weight: 700;
		}
		.fc-toolbar button {
			width: calc(100% / 7);
			border: none;
			background: transparent;
		}
		.fc-icon-left-single-arrow:after,
		.fc-icon-right-single-arrow:after {
			font-size: rem(12);
			font-weight: 400;
			color: $color-rj;
		}
		.fc-icon-left-single-arrow:after,
		.fc-icon-right-single-arrow:after {
			content: '';
			top: 0;
			display: block;
			width: 0;
			height: 0;
			overflow: hidden;
		}
		.fc-icon-left-single-arrow:after {
			border-style: solid solid solid none;
			border-width: rem(5) rem(8) rem(5) 0;
			border-color: transparent $color-rj transparent;
		}
		.fc-icon-right-single-arrow:after {
			border-style: solid none solid solid;
			border-width: rem(5) 0 rem(5) rem(8);
			border-color: transparent transparent transparent $color-rj;
		}
		.fc-widget-header th {
			padding: rem(8) 0 rem(5);
		}
		.fc-row .fc-bg,
		.fc-content-skeleton tbody {
			display: none;
		}
		.fc-scroller {
			height: auto !important;
		}
		.fc-content-skeleton {
			position: static;
			padding: 0;
			table {
				margin: 0;
			}
			td {
				height: rem(19);
				padding: rem(8) rem(5) rem(6);
				border: 1px solid #ccc;
				text-align: center;
				&.hasEvent {
					font-weight: 700;
					color: $color-white;
					background-color: $color-rj;
					&:hover {
						.my-fc-event-ctn {
							@include showActive;
						}
					}
				}
			}
			.my-fc-event-ctn {
				position: absolute;
				left: rem(30);
				right: rem(30);
				z-index: 1;
				margin-top: rem(5);
				padding: rem(5) rem(10);
				border: 1px solid $color-grey-light;
				text-align: left;
				font-weight: 400;
				color: $color-text;
				background-color: $color-white;
				box-shadow: 2px 2px 2px rgba($color-black, .2);
				@include hideInactive;
				.my-fc-event-title {
					display: block;
				}
			}
		}
		.fc-basic-view .fc-body .fc-row {
			min-height: 0;
			height: auto !important;
		}
		.fc-basic-view .fc-day-top .fc-day-number {
			float: none;
		}
	}

	@include media('>phablet') {
		.comingEvent,
		.pastEvents {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: flex-start;
		}
		.eventItemCtn {
			//margin: 0;
		}
	}

	@include media('>phablet', '<=1280px') {
		.pastEvents {
			padding-left: $margin-s;
			padding-right: $margin-s;
		}
	}

	@include media('>phablet', '<=tablet') {
		
	}

	@include media('>tablet', '<=1280px') {
		
	}

	@include media('>1280px') {
		.events {
			display: flex;
		}
		.comingEvent,
		.pastEvents {
			padding: rem(80) 0;
		}
		.comingEvent {
			width: calc( ((100% - #{$site-width}) / 2) +  #{rem(330)} );
			padding-left: $margin-m;
			padding-right: $margin-m;
			.eventItem {
				width: 100%;
			}
		}
		.comingTitle {
			text-align: right;
		}
		.pastEvents {
			justify-content: flex-start;
			width: calc( ((100% - #{$site-width}) / 2) +  #{rem(950)} );
		}
		.pastTitle {
			padding-left: $margin-m;
			text-align: left;
		}
		.comingEvent {		
			.eventItemCtn {
				margin-left: auto;
				margin-right: 0;
			}
		}
		.pastEvents {
			.eventItem {
				margin-left: $margin-m;
			}
			.eventsCalendar {
				margin-left: $margin-xl;
				.eventItemCtn {
					margin: auto;
				}
			}
		}
	}

	/* Actualités */
	.lastNews {
		padding: $margin-l 0 $margin-l;
	}
	.lastNewsTitle {
		margin: 0 0 rem(55);
		text-align: center;
		color: $color-rj;
	}

	@include media('>phablet') {
		
	}

	@include media('>phablet', '<=1280px') {
		
	}

	@include media('>phablet', '<=tablet') {
		
	}

	@include media('>tablet', '<=1280px') {
		
	}

	@include media('>1280px') {
		.lastNews {
			padding-left: $margin-m;
			padding-right: $margin-m;
		}
		.newsList {
			width: rem(1220);
			margin-left: auto;
			margin-right: auto;
		}
	}
}