<header class="siteHeader">
    <div class="siteHeaderCtn u-fitted">
        <h1 class="siteTitle">
            <a class="siteHomeLink" href="#"><img class="siteLogo" src="images/logo-rouen-japon.png" alt="Rouen Japon" width="170" height="55"></a>
        </h1>

        <nav class="mainNav">
            <button class="toggleNav"><span class="u-hiddenVisually">Afficher/cacher le menu de navigation</span></button>
            <div class="mainNavContent">
                <ul class="mainNavList u-ul-mute">
                    <li class="mainNavItem">
                        <a class="mainNavLink">L'association</a>
                    </li>
                    <li class="mainNavItem has-subMenu">
                        <a class="mainNavLink">Nos activités</a>
                        <ul class="mainSubNavList">
                            <li class="mainSubNavItem has-subMenu">
                                <a class="mainSubNavLink" href="#">Les cours</a>
                                <ul class="mainSubSubNavList">
                                    <li class="mainSubSubNavItem">
                                        <a class="mainSubSubNavLink" href="#">Japonais</a>
                                        <a class="mainSubSubNavLink" href="#">Calligraphie</a>
                                        <a class="mainSubSubNavLink" href="#">Cérémonie du thé</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mainSubNavItem"><a class="mainSubNavLink" href="#">Ateliers</a></li>
                            <li class="mainSubNavItem"><a class="mainSubNavLink" href="#">Sorties</a></li>
                        </ul>
                    </li>
                    <li class="mainNavItem"><a class="mainNavLink" href="#">Événements</a></li>
                    <li class="mainNavItem"><a class="mainNavLink" href="#">Actualités</a></li>
                    <li class="mainNavItem"><a class="mainNavLink" href="#">Blog</a></li>
                    <li class="mainNavItem"><a class="mainNavLink" href="#" lang="ja">日本人です</a></li>
                    <li class="mainNavItem"><a class="mainNavLink" href="#">Contact</a></li>
                </ul>
                <div class="mainNavMember">
                    <a class="mainNavMemberLink signup btn btn-blank btn-small" href="#">Devenir membre</a>
                    <a class="mainNavMemberLink login" href="#">Déjà membre ?</a>
                </div>
            </div>
        </nav>
    </div>
</header>